@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&display=swap');

:root {
    --border: 0.1rem solid rgba(255,255,255,0.3)
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: 0.2 linear;
}

body {
    background-color: white;
    font-family: "Cabin", sans-serif;
    font-weight: 400;
    font-size: 14px;
}

section {
    padding: 3rem 2rem;
    margin: 0 auto;
    max-width: 1400px;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    border-bottom: var(--border);
}

.header section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}